a {
    text-decoration: none;
    color: #4fdb7c;
    background:url(`${photo}`);
    height: 400px;
    position: relative;
    z-index: -2;

}
p{
    background-color: #543C4074;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}